
<h1 class="head">CART VIEW</h1>
<div class="container">
    <div class="left">
        <div class="products">

            <div class="imageSection"> 

                <div class="img">
                    <img src="bed.png" alt="">
                </div>

                <div class="quantity">
                    <span class="minus"> _ </span>
                    <input type="number" name="number" id="number" value="1">
                    <span class="plus"> + </span>
                </div>

            </div>

            <div class="detailSection">

                <h3 class="name">Name</h3>
                <p class="details">Details</p>
                <p>
                    <span class="rating">4.5 &#8902;</span>
                    <span class="numbeOfRating">(95,453)</span>
                </p>
                <p class="price">
                    <span class="mainPrice">&#x20b9; 747</span>
                    <span class="prevPrice"> &#x20b9;32,247</span>
                    <span class="offer"> 80% off</span>
                </p>
                <p>Free delivery</p>
                <p class="laterPara">
                    <span class="later"> SAVE FOR LATER</span>
                    <span class="remove">REMOVE</span>

                </p>

            </div>

            <div class="deliverySection">
                <p>Delivery by Fri Nov 15 | <span class="amount">&#x20b9;40</span> <span class="free"> Free</span></p>
            </div>

        </div>

        <div class="placeOrder">
            <p>PLACE ORDER</p>
        </div>
    </div>

    <div class="right">

        <div class="priceDetail">
            <h2>PRICE DETAILS</h2>
        </div>

        <div class="unclear">
            <p class="checkoutPrice">
                <span>Price (items) </span>
                <span> &#x20b9;3,994</span>
            </p>
            <p class="checkoutDescount">
                <span>Discount </span>
                <span class="discountAmount"> -&#x20b9;3,247</span>
            </p>
            <p class="checkoutDelevery">
                <span>Delevery Charges </span>
                <span> <span class="amount"> &#x20b9;40 </span><span class="free"> Free</span> </span>
            </p>
        </div>

        <div class="total">
            <span class="totalText">Total Amount </span>
            <span class="totalAmount"> &#x20b9;747</span>
        </div>

        <div class="massage">
            <p>You will save &#x20b9;3,247 on this order</p>
        </div>

    </div>
</div>
