<div class="bannerSection">

  <div class="banner">
  </div>
  <div class="banner2">
  </div>

</div>

<div class="pointSection">
  <div class="point"></div>
  <div class="point2"></div>
</div>

<div class="short">

  <div class="dogSection">
    <img src="bannerDog.png" alt="blackDog" class="bigDog">
  </div>

  <div class="materialDiv">

    <div class="material">
      <img src="dogFood.jfif" alt="Food">
      <p class="shortPara">Food</p>
    </div>

    <div class="material">
      <img src="clothes.jfif" alt="clothes">
      <p class="shortPara">Clothes</p>
    </div>

    <div class="material">
      <img src="accessories.jpg" alt="accessories">
      <p class="shortPara">Accessories</p>
    </div>

    <div class="material">
      <img src="firstaid.jfif" alt="accessories">
      <p class="shortPara">First Aid</p>
    </div>

  </div>

</div>

<app-product-categories></app-product-categories>
<app-product-bowl></app-product-bowl>
<app-product-bed ></app-product-bed>
<app-product-belt></app-product-belt>
<app-product-cage></app-product-cage>
<app-dog-accessories></app-dog-accessories>