<footer>
    <div class="up">
        <div class="img">
            <img src="logoImage.png" alt="logoImage">
        </div>
        <div class="email">
            <input type="email" placeholder="Enter Your Email...">
            <span>Subscribe</span>
        </div>
    </div>

    <div class="down">

        <div class="service">
            <h1>SERVICE</h1>
            <ul>
                <li>Food</li>
                <li>Garments</li>
                <li>Toys</li>
            </ul>
        </div>

        <div class="quickMenu">
            <h1>QUICK MENU</h1>
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>Shop by Bread</li>
                <li>About us</li>
                <li>Contact us</li>
            </ul>
        </div>

        <div class="support">
            <h1>SUPPORT</h1>
            <ul>
                <li>About us</li>
                <li>Contact us</li>
                <li>Shop by Bread</li>
            </ul>
        </div>
    </div>

    <div>
        <div class="follow">
            <h1>FOLLOW US ON</h1>
            <img src="youtube.png" alt="youtube" id="youtube">
            <img src="Twitter.png" alt="Twitter">
            <img src="instagram.png" alt="instagram">
            <img src="linkdin.png" alt="linkdin">
            <p> +91-8585858585 | +91-8080808080 {{email}}</p>
        </div>
    </div>
</footer>
<div class="last">
    <p>Design and developed by RUCHIKA DIVYA and UTPAL KUMAR | Powered By Barkwoof </p>
</div>