<div class="categories">
  <h1 class="categoriesHead">Recommended belt for your pet</h1>
  <span class="viewAll">View All &rarr; </span>
</div>

<div class="card">
  <app-reusable-product class="cardDetails" [routerLink]="['/product_belt']" [srcLink]="'belt.png'" [name]="'Belt'" [details]="'Black'"
    [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'" [offer]="'30%'"
    [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_belt']" [srcLink]="'belt.png'" [name]="'Belt'" [details]="'Black'"
    [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'" [offer]="'30%'"
    [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_belt']" [srcLink]="'belt.png'" [name]="'Belt'" [details]="'Black'"
    [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'" [offer]="'30%'"
    [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_belt']" [srcLink]="'belt.png'" [name]="'Belt'" [details]="'Black'"
    [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'" [offer]="'30%'"
    [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_belt']" [srcLink]="'belt.png'" [name]="'Belt'" [details]="'Black'"
    [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'" [offer]="'30%'"
    [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>
</div>