<div class="categories">
  <h1 class="categoriesHead">Recommended categories for you</h1>
  <span class="viewAll">View All &rarr; </span>
</div>

<div class="card">

  <app-reusable-product class="cardDetails" [routerLink]="['/product_bed']" [srcLink]="'bed.png'" [name]="'Bed'"
    [details]="'Pink'" [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'"
    [offer]="'30%'" [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_belt']" [srcLink]="'belt.png'" [name]="'Belt'"
    [details]="'Black'" [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'"
    [offer]="'30%'" [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails"[routerLink]="['/dog_accessories']" [srcLink]="'toy.png'" [name]="'Toy'"
    [details]="'Orange'" [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'"
    [offer]="'30%'" [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_bowl']" [srcLink]="'Bowl.png'" [name]="'Bowl'"
    [details]="'Orange'" [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'"
    [offer]="'30%'" [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

  <app-reusable-product class="cardDetails" [routerLink]="['/product_cage']" [srcLink]="'cage.png'" [name]="'Cage'"
    [details]="'Steel'" [rating]="'4.3'" [numbeOfRating]="'(93,124)'" [mainPrice]="'1,149'" [prevPrice]="'1,650'"
    [offer]="'30%'" [addDetails]="'Buy 2 items, save extra 10%'">
  </app-reusable-product>

</div>