<div>
    <div class="imageDetail">
        <img src="heart.png" alt="heart" class="heart">
        <img src={{srcLink}} alt="belt" class="dp">
    </div>

    <div class="productDetail">
        <h3 class="name"> {{name}}</h3>
        <p class="details">{{details}}</p>
        <span class="rating">{{rating}} &#8902;</span>
        <span class="numbeOfRating">{{numbeOfRating}}</span>
        <p class="price">
            <span class="mainPrice">&#x20b9; {{mainPrice}} </span>
            <span class="prevPrice"> &#x20b9;{{prevPrice}} </span>
            <span class="offer"> {{offer}} off</span>
        </p>
        <p>Free delivery</p>
        <p class="addDetails">{{addDetails}}</p>
        <button class="cartButton">ADD TO CART</button>
        <button class="placeButton">PLACE ORDER</button>
    </div>
</div>