<h1>My Wishlist</h1>

<div class="container">
    <div class="imageSection">
        <img src={{srcLink}} alt="bed">
    </div>
    <div class="detailSection">
        <h3 class="name">{{name}}</h3>
        <p class="details">{{details}}</p>
        <p> 
            <span class="rating">{{rating}} &#8902;</span>
            <span class="numbeOfRating">{{numbeOfRating}}</span>
        </p>
        <p class="price">
            <span class="mainPrice">&#x20b9; {{mainPrice}}</span>
            <span class="prevPrice"> &#x20b9;{{prevPrice}}</span>
            <span class="offer"> {{offer}} off</span>
        </p>
        <p>Free delivery</p>
        <p class="laterPara">
            <span class="later">Add to cart</span>
        </p>
    </div>
    <div class="delete">
        <img src="deleteIcon.jpg" alt="">
    </div>
</div>